# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Coverage reports
htmlcov/
.coverage
.coverage.*
*.cover

# Migrations
migrations/

# Database files
*.sqlite3

# IDE specific files
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# Other files
*.bak
*.orig
*.sublime-workspace
*.sublime-project

.processed_videos/

node_modules/